.App {
  text-align: center;
  display: flex;
  flex: 1;
}

.App-logo {
  pointer-events: none;
  width: 50%;
  height: auto;
}

.App-description {
  padding: 32px;
  background: #DADADA;
  max-width: 708px;
}

.App-how {
  padding: 32px;
  max-width: 700px;
  background: #CFE2FF;
  border: 4px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 16px;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;
  padding: 20px;
}

.App-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 24px;

  width: 250px;
  height: 176px;
  left: calc(50% - 283px/2 - 523.5px);
  top: calc(50% - 176px/2 + 269px);

  background: #FFFFFF;
  border: 4px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 12px;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.lds-dual-ring {
  display: inline-block;
  width: 12px;
  height: 12px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid black;
  border-color: blue transparent blue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}